* {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: Helvetica;
}

body {
  background: #f0f2f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; /* centraliza verticalmente */
  height: 100vh; /* ocupa altura total da tela */

  background-image: url("assets/bg.jpg"); /* caminho da tua imagem */
  background-size: cover; /* cobre toda a tela */
  background-position: center; /* centraliza */
  background-repeat: no-repeat; /* não repete */
}

/* Container principal */
.container {
  background: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Header centralizado no meio da tela */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.header h2 {
  font-size: 24px;
  color: #444;
}

.botoes_acoes {
  background-color: white;
  color: #0077ff;
  border: 1px solid #0077ff;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.botoes_acoes:hover {
  background-color: #0077ff;
}

.botoes_acoes:hover > i {
  color: white;
}


.botoes_acoes i {
  color: #0077ff;
  font-weight: bold;
  pointer-events: none;
}

#botao_adicionar {
  background: #0077ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#botao_adicionar:hover {
  background: #005fcc;
}

/* Lista de tarefas */
#lista_de_tarefas {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#lista_de_tarefas li {
  background: #f9f9f9;
  padding: 12px 15px;
  border-radius: 8px;
  border-left: 5px solid #0077ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: 0.2s;
}

.linha_status {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 5px; /* espaço entre o texto e o select */
  font-size: 14px;
  color: #333;
}

.linha_status select {
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.status_tarefa:hover {
  background-color: #0077ff;
  color: white;
  border-color: #005fcc;
}

.status_tarefa {
  background-color: white;
  color: #0077ff;
  border: 1px solid #0077ff;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.botoes {
  display: flex;
  gap: 10px;
}

#lista_de_tarefas li.done {
  background-color: #b0b0b0;/* força a cor */
}

#lista_de_tarefas .done .linha1,
#lista_de_tarefas .done .linha2,
#lista_de_tarefas .done .linha3 {
  text-decoration: line-through; 
  color: #555;                   
}

.texto_tarefa {
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.texto_tarefa .linha1 {
  display: flex;
  justify-content: left; /* nome à esquerda, categoria à direita */
  font-weight: bold;
  font-size: 16px;
}

.texto_tarefa .linha2 {
  font-size: 13px;
  word-wrap: break-word;
}

.texto_tarefa .linha3 {
  display: flex;
  justify-content: left;
  font-size: 16px;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
  color: #333;
  width: 20px;
}

.close:hover {
  color: #000;
  font-weight: bold;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 95%;
}

form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

form input:focus,
form textarea:focus {
  border-color: #0077ff;
}

form button {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  width: 70%;
  transition: 0.2s;
}

form button:hover {
  background: #218838;
}

dialog {
  margin: auto;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
